body{
    /* min-height: 100vh; */
    font-family: "Segoe UI","Roboto","Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
#Sidebar{
   width: 280px;
    /* border: 1px solid rgb(212, 208, 208); */
}
.scale-hover{
     transition: all 0.5s ease-in-out;
}
.scale-hover:hover{
    transform: scale(1.1);
   
}
.b-example-divider {
      background-color: rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
        inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    }
.b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }